@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* Primary */

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */

  --blue-shadow: hsl(215, 39%, 90%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

/* Poppins: CSS classes

.poppins-extralight {
  font-family: "Poppins", system-ui;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

*/

/* CSS Reset ============ */

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    line-height: 1.15;
}

*, 
*::before, 
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}

img, picture {
    max-inline-size: 100%; /* max-width: 100%; */
    block-size: auto;
    display: block;
}

/* CSS Reset END ============ */

body {
    display: flex;
    flex-direction: column;
    background: var(--very-light-gray);
}

main {
    flex-grow: 1;
}

.hero {
    width: clamp(19.4375rem, 50vw, 34.375rem); /* 311px and 500px */
    margin: 0 auto;
    margin-block: 5.125rem 4.6875rem; /* 82px and 75px */
}

.hero-thin-title,
.hero-semistrong-title {
    font-family: "Poppins", system-ui;
    font-style: normal;
    line-height: 1.5;
    font-size: clamp(1.5rem, 3.5vw, 2.3125rem); /* 24px and 37px*/
    text-align: center;
    letter-spacing: 0.48px;
    color: var(--very-dark-blue);
}

.hero-thin-title {
    font-weight: 200;
}

.hero-semistrong-title {
    font-weight: 600;
    margin-block-end: 15px;
}

.hero-text {
    text-align: center;
    line-height: normal;
    font-size: 1rem;
    font-weight: 200;
    color: var(--grayish-blue);
}

.cards {
    width: clamp(19.4375rem, 50vw, 21.875rem);
    margin: 0 auto;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    margin-block-end: 78px;
}

.card {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 20px 20px var(--blue-shadow);
    padding: clamp(28px, 3.8vw, 31px);
    background: #FFF;
    display: grid;
}

.card::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    left: 0;
    background: #FFF;
}

.card-supervisor {
    border-top: 4px solid var(--cyan);
}

.card-team {
    border-top: 4px solid var(--red);
}

.card-karma {
    border-top: 4px solid var(--orange);
}

.card-calculator {
    border-top: 4px solid var(--blue);
}

.card img {
    justify-self: end;
    width: clamp(3.5625rem, 7.8vw, 4rem); /* 57px and 64px */
}

.card-title {
    font-size: 1.25rem; /* 20px */
    color: var(--very-dark-blue);
    margin-block-end: 8px;
}

.card-text {
    font-size: 0.8125rem; /* 13px */
    color: var(--grayish-blue);
    line-height: 22px;
    font-weight: 200;
    letter-spacing: 0.24px;
    margin-block-end: 33px;
}

/* responsivities */

/* 320px */
@media (max-width: 20rem) {
    .cards {
        width: 100%;
    }
}

/* 720px */
@media (min-width: 45rem) {
    .hero-thin-title,
    .hero-semistrong-title {
        line-height: 1.4;
    }

    .card-title {
        margin-block-end: 11px;
    }

    .card-text {
        margin-block-end: 41px;
    }
}

/* 920px */
@media (min-width: 57.5rem) {
    .hero {
        margin-block: 4.875rem 4rem; /* 78px and 64px */
    }

    .cards {
        width: min(69.375rem, 90%); /* 1110px */
        margin-block-end: 80px;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "supervisor     team    calculator"
        "supervisor     karma   calculator";
    }

    .card-team {
        grid-area: team;
    }

    .card-supervisor {
        grid-area: supervisor;
        align-self: center;
    }

    .card-calculator {
        grid-area: calculator;
        align-self: center;
    }

    .card-karma {
        grid-area: karma;
    }
}