@charset "UTF-8";
@layer basic, layout, module, state, theme;
@layer settings {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  /* Remove default margin in favour of better control in authored CSS */
  body, h1, h2, h3, h4, p,
  figure, blockquote, dl, dd {
    margin-block-end: 0;
  }
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role=list],
  ol[role=list] {
    list-style: none;
  }
  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }
  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4,
  button, input, label {
    line-height: 1.1;
  }
  /* Balance text wrapping on headings */
  h1, h2,
  h3, h4 {
    text-wrap: balance;
  }
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  /* Inherit fonts for inputs and buttons */
  input, button,
  textarea, select {
    font: inherit;
  }
  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }
  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
  :root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
  }
  body {
    background-color: var(--grey-900);
    display: flex;
    flex-direction: column;
  }
  section {
    background-color: var(--grey-800);
    color: var(--white);
  }
}
@layer tools {
  .l-main {
    flex: 1; /* This makes .l-main grow to occupy the remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .l-footer {
    padding: 10px;
  }
}
@layer generics {
  .m-profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .m-profile-card {
    margin: auto 24px;
    padding: 24px;
    border-radius: 12px;
    width: 100%;
    max-width: 24rem;
  }
  @media screen and (min-width: 432px) {
    .m-profile-card {
      padding: 40px;
    }
  }
  .m-avatar-container {
    margin-bottom: 27px;
  }
  .m-avatar {
    width: 89px;
    height: 89px;
    border-radius: 50%;
    object-fit: cover;
  }
  .m-name {
    margin-bottom: 9px;
  }
  .m-profile-location {
    color: var(--green);
    margin-bottom: 27px;
  }
  .m-personalphrase {
    margin-bottom: 26px;
  }
  .m-social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; /* Espaçamento entre os botões */
  }
  .m-social-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--grey-700);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .m-social-button:hover {
    color: var(--grey-900);
    background-color: var(--green);
  }
}
@layer elements {}
@layer objects {}

/*# sourceMappingURL=index.css.map */
