@forward 'font';
@forward 'reset';

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    font-family: 'Poppins-Regular', sans-serif;
}

fieldset {
    border: none;
}

button[type="submit"] {
    cursor: pointer;
    /* This helps visually indicate to users that the element 
    is clickable and interactive. When the cursor changes to 
    a hand icon on hover, users typically associate this with 
    the ability to click. */
}

a {
    text-decoration: none;
}

label {
    font-family: 'Poppins-Bold', sans-serif;
    text-transform: uppercase;
    color: var(--smokey-grey);
    font-size: 0.875rem;
    letter-spacing: 0.18rem;
    margin-bottom: 0.375rem;
}