.m-attribution {
    color: var(--grey);
}

.m-attribution a {
    color: var(--black);
    font-family: 'Figtree-SemiBold', sans-serif;
}

.m-attribution a:hover {
    text-decoration: underline;
}

.m-oc {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    background-color: var(--white);
    max-width: 20.4375rem; /* width 327px height 501px (both including border) */
    width: 100%;
    border-radius: 18px;
    padding: 23px;
    box-shadow: 8px 8px 0px 0px #000;
    margin-inline: 10px;
}

@media screen and (min-width: 768px) {
    .m-oc {
        max-width: 24rem; /* width 384px height 521px (both including border) */
    }
}

.m-oc__banner img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%; /* width 279px */
    height: 12.5rem; /* height 200px */
}

@media screen and (min-width: 768px) {
    .m-oc__banner img {
        width: 100%; /* 336px */
        height: auto; /* 201px */
    }
}

.m-oc__tag {
    background-color: var(--yellow);
    width: 4.6875rem; /* 75 */
    height: 1.625rem; /* 26 */
    padding: 0.375rem 0.6875rem; /* 6px 11px */
    border-radius: 5px;
    font-size: 0.8125rem;
    font-family: 'Figtree-ExtraBold';
    margin-top: 23px;
}

@media screen and (min-width: 768px) {
    .m-oc__tag {
        width: 5.125rem; /* 82px */
        height: 1.875rem; /* 30px */
        padding: 0.4375rem 0.8125rem; /* 7px 13px */
        font-size: 0.875rem;
    }
}

.m-oc__publish {
    font-size: 0.75rem;
    margin-top: 15px;
}

@media screen and (min-width: 768px) {
    .m-oc__publish {
        font-size: 0.875rem;
    }
}

.m-oc__title {
    font-family: 'Figtree-ExtraBold';
    font-size: 1.25rem;
    margin: 18px 0;
}

@media screen and (min-width: 768px) {
    .m-oc__title {
        font-size: 1.5rem;
        margin: 17px 0;
    }
}

.m-oc__user-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.m-oc__text {
    font-size: 0.875rem;
    color: var(--grey);
    margin-bottom: 22px;
    line-height: 1.25rem;
    font-family: 'Figtree-Regular', sans-serif;
}

@media screen and (min-width: 768px) {
    .m-oc__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.m-oc__avatar {
    min-width: 2rem; /* prevent smaller than this */
}

.m-oc__name {
    font-family: 'Figtree-ExtraBold';
    font-size: 0.875rem;
}