.m-attribution a {
    color: hsl(141, 45%, 44%);
}

.m-oc {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border: 1px solid var(--black);
    background-color: var(--white);
    max-width: 20.3125rem; /* width: 325px, height: 499px */
    width: 100%;
    border-radius: 18px;
    padding: 22px;
    box-shadow: 8px 8px 0px 0px #000;
}

@media screen and (min-width: 768px) {
    .m-oc {
        max-width: 23.875rem; /* width: 382px, height: 519px */
    }
}

.m-oc__banner {
    max-width: 279px;
    max-height: 200px;
    line-height: 0;
}

.m-oc__banner img {
    width: 279px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .m-oc__banner img {
        width: 336px;
        height: 201px;
    }
}

.m-oc__tag {
    background-color: var(--yellow);
    max-width: 75px;
    max-height: 26px;
    padding: 6px 11px;
    border-radius: 5px;
    font-size: 0.8125rem;
    font-family: 'Figtree-ExtraBold';
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .m-oc__tag {
        max-width: 82px;
        max-height: 30px;
        padding: 7px 13px;
        font-size: 0.875rem;
    }
}

.m-oc__publish {
    font-size: 0.75rem;
    margin-top: 16px;
}

@media screen and (min-width: 768px) {
    .m-oc__publish {
        font-size: 0.875rem;
        margin-top: 16px;
    }
}

.m-oc__title {
    font-family: 'Figtree-ExtraBold';
    font-size: 1.25rem;
    margin: 18px 0 18px 0;
}

.m-oc__title:hover {
    color: var(--yellow);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .m-oc__title {
        font-size: 1.5rem;
        display: inline-block;
    }
}

.m-oc__user-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.m-oc__text {
    font-size: 0.875rem;
    color: var(--grey);
    margin-bottom: 22px;
    line-height: 1.25rem;
    font-family: 'Figtree-Regular';
}

@media screen and (min-width: 768px) {
    .m-oc__text {
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: 'Figtree-Regular';
    }
}

.m-oc__avatar {
    max-width: 32px;
    max-height: 32px;
}

.m-oc__name {
    font-family: 'Figtree-ExtraBold';
}