$font-path: '../fonts/';

@font-face {
    font-family: 'Poppins-Bold';
    src: url('#{$font-path}Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('#{$font-path}Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('#{$font-path}Poppins-ExtraBoldItalic.ttf') format('truetype');
}