.l-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.l-main {
    flex: 1; // This makes .l-main grow to occupy the remaining space
    display: flex;
    padding: 27px 32px;
    //section ul = 32+6+7(size of bullet)+27 = 72
    //section ol = 24+16+32 = 72
}

@media screen and (min-width: 736px) {
    .l-header {
        padding: 40px 40px 0 40px;
        gap: 42px;
    }

    .l-main {
        padding: 27px 40px;
    }
}

.l-footer {
    padding: 10px;
}