// Pixels to rem
@function rem($pixels) {
    $base-font-size: 16; //baseline
    @return calc(($pixels / $base-font-size) * 1rem);
}

.s-nowrap {
    white-space: nowrap;
}

.s-display-flex {
    display: flex;
}

.s-flex-direction__column {
    display: flex;
    flex-direction: column;
}

.s-input-number {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: rem(20);
    opacity: 0.8;
    letter-spacing: 0.02rem;
    max-width: 10rem;
    max-height: 4.5rem;
    width: 100%;
    height: rem(54);
    border-radius: 8px;
    padding: 0.75rem 0 0.75rem 1rem;
    border: 1px solid var(--light-grey);
    caret-color: var(--purple);
    color: var(--off-black);
    cursor: pointer;
}

.s-input-number::-webkit-inner-spin-button,
.s-input-number::-webkit-outer-spin-button,
.s-input-number {
    -webkit-appearance: none;
    margin: 0;
}

.s-input-number:focus {
    border: 1px solid var(--purple);
    outline: none;
}

@media screen and (min-width: 768px) {
    .s-input-number {
        height: rem(72);
        font-size: rem(32);
    }
}

.s-input-margin-top {
    margin-top: 4px;
}

.s-margin-right {
    margin-right: 0.9375rem; /* 15px */
}

.s-error-message {
    display: none;
    color: var(--light-red);
    opacity: 0.8;
    font-size: rem(10);
    font-family: 'Poppins-Italic', sans-serif;
    margin-top: rem(7);
}

@media screen and (min-width: 768px) {
    .s-error-message {
        font-size: rem(14);
    }
}

.s-day-error {
    display: none;
}

.s-month-error {
    display: none;
}

.s-year-error {
    display: none;
}
