:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'Figtree-Italic';
    src: url('../../fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Regular';
    src: url('../../fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-SemiBold';
    src: url('../../fonts/static/Figtree-SemiBold.ttf');
}

@font-face {
    font-family: 'Figtree-ExtraBold';
    src: url('../../fonts/static/Figtree-ExtraBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree-Regular', sans-serif;
    font-size: 1rem;
    background-color: var(--yellow);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    display: block;
}

a {
    text-decoration: none;
}