:root {
  /* Primary */

  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* Neutral */

  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* opacity */
  --moderate-violet-50: hsla(263, 55%, 52%, 0.5);
  --moderate-violet-70: hsla(263, 55%, 52%, 0.7);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-70: hsla(0, 0%, 100%, 0.7);
  --light-gray-50: hsla(0, 0%, 81%, 0.5);
  --light-gray-70: hsla(0, 0%, 81%, 0.7);
  --light-grayish-blue-50: hsla(210, 46%, 95%, 0.5);
  --light-grayish-blue-70: hsla(210, 46%, 95%, 0.7);
  --very-dark-grayish-blue-50: hsla(217, 19%, 35%, 0.5);
  --very-dark-grayish-blue-70: hsla(217, 19%, 35%, 0.7);
  --very-dark-blackish-blue-50: hsla(219, 29%, 14%, 0.5);
  --very-dark-blackish-blue-70: hsla(219, 29%, 14%, 0.7);
}

/* CSS Reset ============ */

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 1.15;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

img,
picture {
  max-inline-size: 100%; /* max-width: 100%; */
  block-size: auto;
  display: block;
}

/* CSS Reset END ============ */

body {
  display: flex;
  flex-direction: column;
  background: var(--light-grayish-blue);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

main {
  flex-grow: 1;
}

.testimonials {
  max-width: 21.6875rem; /* 327px+10+10 */
  margin: 0 auto;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
  margin-block: 71px;
}

.testimonial {
  padding: 24px 34px 32px 32px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-inline: 10px;
  line-height: normal;
  transition: transform .3s ease-out;
}

.testimonial__profile {
  display: grid;
  column-gap: 15px;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "photo  name"
    "photo  status";
  margin-block-end: 16px;
}

.testimonial__profile-img {
  grid-area: photo;
  border-radius: 50%;
  width: 32px;
  border: 2px solid var(--white-70); /* default border */
}

.testimonial__author {
  grid-area: name;
  font-size: 0.8125rem; /* 13px */
}

.testimonial__status {
  grid-area: status;
  font-size: 0.6875rem; /* 11px */
}

.testimonial__short {
  font-weight: 600;
  font-size: 1.25rem; /* 20px */
  margin-block-end: 16px;
}

.testimonial__complete {
  font-size: 0.8125rem; /* 13px */
  line-height: 1.38;
}

.quotebg {
  position: relative;
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-size: 104px;
  background-position: top right clamp(24px, -18.1918px + 7.6712vw, 80px);
}

.padding-right-typo {
  padding-right: 15px;
}

.testimonials article:nth-of-type(3) {
  box-shadow: 24px 16px 97px -18px var(--light-gray);
}

.testimonials article:nth-of-type(4) {
  box-shadow: 24px 16px 60px -40px var(--light-gray);
}

.testimonials article:nth-of-type(5) {
  box-shadow: 24px 16px 97px -18px var(--light-gray);
}

/* modifyers */

.border-white-70 {
  border: 2px solid var(--white-70);
}

.border-dark-grayish {
  border: 2px solid var(--very-dark-grayish-blue);
}

.border-violet-70 {
  border: 2px solid var(--moderate-violet-70);
}

.border-light-gray-50 {
  border: 2px solid var(--light-gray-50);
}

.bg-violet {
  background-color: var(--moderate-violet);
}

.bg-blackish {
  background: var(--very-dark-blackish-blue);
}

.bg-white {
  background: var(--white);
}

.bg-grayish {
  background: var(--very-dark-grayish-blue);
}

.font-color-white {
  color: var(--white, white);
}

.font-color-white-50 {
  color: var(--white-50, white);
}

.font-color-white-70 {
  color: var(--white-70, white);
}

.font-color-light-gray {
  color: var(--light-gray);
}

.font-color-light-gray-50 {
  color: var(--light-gray-50);
}

.font-color-light-gray-70 {
  color: var(--light-gray-70);
}

.font-color-light-grayish {
  color: var(--light-grayish-blue, white);
}

.font-color-light-grayish-50 {
  color: var(--light-grayish-blue-50, white);
}

.font-color-light-grayish-70 {
  color: var(--light-grayish-blue-70, white);
}

.font-color-dark-grayish {
  color: var(--very-dark-grayish-blue, black);
}

.font-color-dark-grayish {
  color: var(--very-dark-grayish-blue, black);
}

.font-color-dark-grayish-50 {
  color: var(--very-dark-grayish-blue-50, black);
}

.font-color-dark-grayish-70 {
  color: var(--very-dark-grayish-blue-70, black);
}

/* responsiveness */

/* 720px */
@media (min-width: 45rem) {
  .testimonials {
    max-width: 51.5625rem; /* 825px */
    width: 90%;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .testimonial {
    margin-inline: 0;
  }

  .testimonial:hover {
    transform: translateY(-5px);
  }

  .testimonials article:nth-of-type(2) {
    min-width: 255px;
  }

  .testimonials article:nth-of-type(3) {
    min-width: 255px;
    box-shadow: 41px 46px 40px -40px var(--light-gray);
  }

  .testimonials article:nth-of-type(1) {
    grid-column: 1 / span 2;
  }

  .testimonials article:nth-of-type(4) {
    grid-column: 2 / span 2;
  }

  .testimonials article:nth-last-of-type(1) {
    grid-column: 1 / -1;
    box-shadow: 41px 46px 40px -40px var(--light-gray);
  }

  /* modifier */
  /* The design seem to have a wrong margin here */
  .padding-right-typo {
    padding-right: 0;
  }
}

/* 1024px */
@media (min-width: 64rem) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonials {
    row-gap: 24px;
    column-gap: 30px;
    max-width: 69.375rem; /* 1110px */
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "daniel     daniel    jonathan  kira"
      "jeanette   patrick   patrick   kira";
  }

  .testimonials article:nth-of-type(1) {
    grid-area: daniel;
  }

  .testimonials article:nth-of-type(2) {
    min-width: 255px;
    grid-area: jonathan;
  }

  .testimonials article:nth-of-type(3) {
    min-width: 255px;
    grid-area: jeanette;
  }

  .testimonials article:nth-of-type(4) {
    grid-area: patrick;
  }

  .testimonials article:nth-last-of-type(1) {
    grid-area: kira;
  }

  /* modifier */
  /* The design seems to have a wrong margin here */
  .margin-block-end-typo {
    margin-block-end: 20px;
  }
}
